<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_DEST" value="logs" />

<!--  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DEST}/koach.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>-->

<appender name="logstash" class="ch.qos.logback.core.FileAppender">
  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    <level>all</level>
  </filter>
  <file>logs/json.log</file>
  <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
    <providers>
      <timestamp/>
      <message/>
      <version>42</version>
      <app>koach</app>
      <loggerName/>
      <threadName/>
      <logstashMarkers/>
      <arguments/>
      <logLevel/>
      <stackTrace>
        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
          <maxDepthPerThrowable>30</maxDepthPerThrowable>
          <maxLength>2048</maxLength>
          <shortenedClassNameLength>20</shortenedClassNameLength>
          <rootCauseFirst>true</rootCauseFirst>
        </throwableConverter>
      </stackTrace>
      <stackHash/>
      <tags/>
    </providers>
  </encoder>
</appender>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="LogController" level="TRACE"/>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="logstash" />
  </root>
</configuration>